@page
@model MovieApp.Pages.UploadFile

@{
    ViewData["Title"] = "Upload";
}

<form method="post" enctype="multipart/form-data" class="mb-3 text-center">
    <h3 class="my-2">Upload your movie poster:</h3>
    <input type="file" name="poster" accept="image/*"/>
    <input type="submit" value="Upload" />
</form>
<div class="text-center">
    @if (!string.IsNullOrEmpty(Model.Filename))
        {
            <span>
                <img id="poster" src="~/Images/@Model.Filename" alt="">
            </span>
        }
</div>
